* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

header {
	padding: 16px;
	width: 100%;
	position: sticky;
	background-color: rgb(36, 36, 36);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 40px;
}

header nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
	padding: 5px;
	background-color: aliceblue;
	border-radius: 5px;
}

.orders-list {
	padding: 20px 10%;
}

.order-details {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gap {
	width: 24px;
}
